@media only screen and (max-width: 1200px){
    .img4 {
        display: none;
    }
}
@media only screen and (max-width: 992px){
    .img4 {
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .img4 {
        display: none;
    }
}
@media only screen and (max-width: 576px){
    .img4 {
        display: none;
    }
}